table
{
  height: fit-content;
}

.data
{
  width: 25px;
  text-align: center;
  table-layout: initial;
}

td
{
  height: 5px;
  table-layout: fixed;
}

tr
{
  height: 5px;
}

.name, #name
{
  width: 500px;
  table-layout: initial;
}

.overflow-auto
{
  height: 40px;
}

a
{
  color: white
}